<p>
    If you want to give your moderators access to your configuration or want modifier for mods and Vips you have to give this app more permissions. <br/>
    "channel:read:vips" this is needed to get the vips of your channel. <br/>
    "moderation:read" this is needed to get the moderators of your channel. <br/>
    Click the button below to elevate the permissions.
</p>

<form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
    <div>
        <AntiforgeryToken/>
        <input type="hidden" name="ReturnUrl" value="@ReturnUrl"/>
        <p>
            <button style="background-color: #365d39" type="submit" class="btn btn-primary" name="provider" value="TwitchElevated" title="Log in using your Twitch account">Elevate Permissions</button>
        </p>
    </div>
</form>

@code {
    string ReturnUrl { get; set; } = "/Channel";
}