@page "/Privacy"

<h3>Privacy</h3>

<p>
    All data stored by this application is stored on a local database located on our VPS in Germany.
    We do not share any of this data with 3rd parties.
</p>
<hr>
<h4>As a user who login into this webpage:</h4>
<p>
    We store your Twitch username, access token and refresh token. We do <b>not</b> store your email although its
    requested in the OAuth2 flow we use to authenticate you with Twitch. Because of the login process, we also store
    no passwords. We do not store any other personal information about you. We collect some telemetry data in our non 
    persistent logs to help us improve the application. All personal data is striped from this logs.
</p>
<hr>
<h4>As a user who uses this application as a streamer:</h4>
<p>
    We do not store any additional personal information about you. We only store information that is necessary to provide
    the service. This contains ids of channel point rewards and their redemptions, a list of VIPs on your Channel and the
    list of moderators you have.
</p>
<hr>
<h4>As a user who uses this application as a viewer:</h4>
<p>
    We do not store any personal information about you. We do store the channel point rewards you redeem.
    This contains your username, id and the time of the redemption. We do not store any other personal information about
    you.
</p>
<hr>
<h4>Data deletion:</h4>
<p>
    You can delete your account at any time. This will remove all data we have stored about you. This includes your Twitch
    username, access token and refresh token. We will also remove all data we have stored about you as a streamer or viewer.
    This includes all channel point rewards and redemptions, VIPs and moderators, and all channel point redemptions.
</p> <br/>

<p>
    If you want to delete your account and all data associated with it, log in and go to the 
    <a href="/Account/Manage/PersonalData">settings</a> page (just click the link, you will be redirected through login).
    There you can delete your account, which will remove all data we have stored about you.
</p>

<hr/>
<h4>Questions:</h4>
<p>
    If you have any questions about our privacy policy, please contact us on discord (send a message to @@plerx0715).
</p>

@code {
    
}